//colors

$color-main-template-text: #FF4D79;
$color-main-title:#1F2B35;
$color-text-first: #fffffa;
$color-text-second: #0081F6;
$color-bcg:#02203c;



// shadows

$color-box-shadow: rgba(0, 0, 0, 0.6) 0 2rem 2rem;

//hide


.hide {
  display: none;
}
