.news {
  padding-top: 60px;
  position: relative;
  &__title {
    font-size: 7rem;
    text-align: center;
    color: $color-main-title;
    margin-bottom: 20px;
  }

  .data-loading {
    height: 774px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__circle {

      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px solid lightgray;
      border-top-color: coral;
      animation: spinner 0.7s linear infinite;
    }
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .control-panel__settings {
    position: absolute;
    top: 10px;
    right: 2%;
    .control-panel__settings-language {
      color: #02203c;
      font-weight: bold;
      text-decoration: none;
      font-size: 2rem;
      padding: 5px;
      background: transparent;
      border: none;
      &:hover {
        color: lighten(#02203c,10%);
      }
      &:active {
        color: lighten(#02203c,20%);
      }
    }
  }

  .container {
    max-width: 1400px;
  }

  .row {
    justify-content: space-evenly;
  }
  .news-container {
    position: relative;
    margin: 20px 10px;
  }
  .news-image-box {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: $color-box-shadow;

    .news-image {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      filter: brightness(40%);
      border-radius: 20px;
    }

  }

  .news-title {
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
    position: absolute;
    font-size: 3.5vw;
    color: floralwhite;
    top: 60%;
    width: 80%;
    left: 10%;
    text-shadow: 2px 2px 3px #1F2B35;
    text-align: center;
    font-weight: 400;
    @include tablet {
      font-size: 2.2vw;
    }
    @include desktop {
      font-size: 1.6vw;
    }

  }

  .news-read-more {
    text-decoration: none;
    position: absolute;
    color: gray;
    font-size: 3rem;
    top: 20px;
    right: 20px;
    color: #02203c;
    font-weight: bold;

    .fas {
      color: gray;
      position: relative;
      transition: 1s;
    }
    .fas:hover {
      transform: rotate(40deg);
    }
  }
}