.statistics {
  padding-bottom: 70px;

  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet {
    flex-wrap: wrap;
  }

  @include desktop {
    flex-wrap: nowrap;
  }

  &__chart {
    margin-bottom: 30px;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    box-shadow: $color-box-shadow;
    @include tablet {
      width: 90%;
      margin-bottom: 0;

    }
    @include desktop {
      width: 70%;
    }
  }

  &-settings {
    height: 20%;
    background-color: #EAEAEA;
    width: 90%;
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: $color-box-shadow;

    @include tablet {
      display: flex;
      width: 90%;
      margin-top: 20px;

    }
    @include desktop {
      width: 20%;
      display: block;
      margin-top: 0;
    }

    .statistics-box:last-of-type {
      border-bottom: none;
      border-right: none;
    }
    .statistics-box:first-of-type {
      border-left: none;
    }

    .statistics-box {
      text-align: center;
      border-bottom: 1px solid black;

      padding: 10px ;
      @include tablet {
        border-bottom: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
      }

      @include desktop {
        border-bottom: 1px solid black;
        border-left: none;
        border-right: none;
      }



      &__country {

        &-flag {

        }

        &-name {
          font-size: 2rem;
          font-weight: bold;
          color: $color-main-title;
          margin-left: 10px;
        }

      }

      &__country-select {


        &-input {
          width: 70%;
          display: block;
          margin: 10px auto;
          border: none;
          border-bottom: 1px solid #02203c;
          padding: 5px 10px;
          font-size: 1.4rem;
          color: #02203c;
          font-weight: bold;

        }

        &-btn {
          display: inline-block;
          width: 80%;
          font-family: 'Mukta', sans-serif;
          margin-bottom: 20px;
          background-color: #fff;
          border-radius: 10px;
          border: none;
          padding: 10px 20px;
          color: #0e3655;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 1.7rem;
          text-decoration: none;
          box-shadow: 1px 2px 2px #7f7f7f;
          transition: 1s;
        }

        &-btn:hover {
          transition: 1s;
          color: white;
          background-color: #0e3655;
        }
      }



      &__name {

        margin-bottom: 10px;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: $color-main-title;
        @include tablet {
          margin-top: 20%;
        }

        @include desktop {
          margin-top: 0;
        }
      }

      &__option-btn {

        display: inline;
        font-family: 'Mukta', sans-serif;
        margin: 0 10px 20px 10px;
        background-color: #fff;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        color: #0e3655;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-decoration: none;
        box-shadow: 1px 2px 2px #7f7f7f;
        transition: 1s;
      }

      &__option-btn:hover {
        transition: 1s;
        color: white;
        background-color: #0e3655;
      }

      &__option-btn:active {
        box-shadow: inset 1px 1px 1px 1px white;
      }
    }
  }
}