//settings
@import "settings/mixins";
@import "settings/variables";

// generic
@import "generic/reset";
@import "generic/grid";
@import "settings/base";
//elements

@import "elements/MainTemplate";
@import "elements/Navigations";
@import "elements/Footer";
@import "elements/HomePage/jumbotron";
@import "elements/HomePage/news";
@import "elements/HomePage/purchase";

